<style>
.img-list {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.img > img {
  background: #f6f6f6;
  height: 720px;
  width: 1080px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

li {
  float: none;
  display: inline-block;
}

.glyphicon1 {
  font-size: 40px;
  margin-top: 4px;
}

.social {
  font-size: 30px;
  text-align: center
}

h1 {
  text-align: center;
  font-size: 50px;
}

h4 {
  text-align: center;
}

.btn1 {
  top: -1px;
  margin: 10px;
  padding: 1px 5px 1px 5px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

.Ins {
  width: 100%;
  height: 32px;
  margin: 10px;
  padding: 0px 30px 0px 35px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border: 1px;
}

.ho {
  margin-left: 100px;
}

.fa1 {
  margin-top: 40px;
}

.fa2 {
  margin-left: 40px;
}

.fa3 {
  margin-left: 40px;
}

.fa4 {
  margin-left: 40px;
}

.fa5 {
  margin-left: 40px;
}

.fa6 {
  margin-top: 50px;
  font-size: 30px;
  margin-left: 530px;
}

.fa7 {
  margin-left: 30px;
  font-size: 30px;
}

footer {
  text-align: center;
  min-height: 5vh;
  padding-top: 10px;
  padding-bottom: 10px;
  color: gray;
  background-color: #000;
  margin-top: 20px;
}
</style>